<!DOCTYPE html>
<html>
  <head>
    <style>
      input[type="password"] {
        width: 100%;
        padding: 12px 20px;
        margin: 8px 0;
        box-sizing: border-box;
        border: 2px solid white;
        border-radius: 4px;
      }
      input[type="submit"] {
        background-color: white;
        border: none;
        color: black;
        padding: 16px 32px;
        text-decoration: none;
        margin: 4px 2px;
        cursor: pointer;
        width: 100%;
        border-radius: 5px;
      }
    </style>
  </head>

  <body
    background="https://www.drumangle.com/sandbox/wp/21813/wp-content/uploads/2014/01/Login-Screen-Background-Wood-4.jpg"
    style="padding-top: 10%; padding-left: 16%; padding-right: 16%;"
  >
    <center><h1 style="color: white;">Reset New Password</h1></center>

    <form action="/admin/reset-password/p" method="post">
      <input type="text" name="token" hidden value="<%=token%>" />
      <label for="password" style="color: white;">Password</label>
      <input type="password" id="password" name="password" />
      <label for="confirm_password" style="color: white;"
        >Confirm Password</label
      >
      <input type="password" id="confirm_password" name="confirm_password" />
      <br />
      <br />
      <input type="submit" value="Reset Password" />
    </form>
    <br />
    <h3 style="color: white;"><%= message %></h3>
  </body>
</html>
